*{
    box-sizing: border-box;
}

body {
    margin: 52 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #047857;
    background-color: #C4B5FD;
    font-size: 38px;
    text-align: center;
}

button {
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #047857;
    color: white;
    width: 350px;
    height: 50px;
    margin: 8px auto;
    padding: 16px 44px;
    border-radius: 6px;
    border: none;
    font-weight: 800;
}

.password{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    background-color: black;
    color: white;
    width: 350px;
    height: 50px;
    margin: 8px auto;
    padding: 16px 44px;
    border-radius: 6px;
}

.password{
    cursor: pointer;
}

input[type="checkbox"]{
    width: 25px;
    height: 25px;
    cursor: pointer;

}

.Toogles{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}